.snotifyToast {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.snotify-leftTop .fadeIn,
.snotify-leftCenter .fadeIn,
.snotify-leftBottom .fadeIn {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

.snotify-leftTop .fadeOut,
.snotify-leftCenter .fadeOut,
.snotify-leftBottom .fadeOut {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

.snotify-rightTop .fadeIn,
.snotify-rightCenter .fadeIn,
.snotify-rightBottom .fadeIn {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.snotify-rightTop .fadeOut,
.snotify-rightCenter .fadeOut,
.snotify-rightBottom .fadeOut {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

.snotify-centerTop .fadeIn {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.snotify-centerTop .fadeOut {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

.snotify-centerCenter .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.snotify-centerCenter .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

.snotify-centerBottom .fadeIn {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.snotify-centerBottom .fadeOut {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) scaleX(1.2);
    transform: translate3d(-100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) scaleX(1.2);
    transform: translate3d(-100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) scaleX(1.2);
    transform: translate3d(100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) scaleX(1.2);
    transform: translate3d(100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scaleY(1.2);
    transform: translate3d(0, 100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scaleY(1.2);
    transform: translate3d(0, 100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scaleY(1.2);
    transform: translate3d(0, -100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scaleY(1.2);
    transform: translate3d(0, -100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes appear {
  0% {
    max-height: 0; }
  100% {
    max-height: 50vh; } }

@keyframes appear {
  0% {
    max-height: 0; }
  100% {
    max-height: 50vh; } }

@-webkit-keyframes disappear {
  0% {
    opacity: 0;
    max-height: 50vh; }
  100% {
    opacity: 0;
    max-height: 0; } }

@keyframes disappear {
  0% {
    opacity: 0;
    max-height: 50vh; }
  100% {
    opacity: 0;
    max-height: 0; } }

@-webkit-keyframes async {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
    transform: translate(0, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
    transform: translate(0, -50%) rotate(360deg); } }

@keyframes async {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
    transform: translate(0, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
    transform: translate(0, -50%) rotate(360deg); } }

.snotify {
  display: block;
  position: fixed;
  width: 250px;
  z-index: 9999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none; }
  .snotify * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.snotify-leftTop,
.snotify-leftCenter,
.snotify-leftBottom {
  left: 10px; }

.snotify-rightTop,
.snotify-rightCenter,
.snotify-rightBottom {
  right: 10px; }

.snotify-centerTop,
.snotify-centerCenter,
.snotify-centerBottom {
  left: calc(50% - 250px / 2); }

.snotify-leftTop,
.snotify-centerTop,
.snotify-rightTop {
  top: 10px; }

.snotify-leftCenter,
.snotify-rightCenter,
.snotify-centerCenter {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.snotify-leftBottom,
.snotify-rightBottom,
.snotify-centerBottom {
  bottom: 10px; }

.snotify-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  z-index: 9998;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

.snotifyToast {
  display: block;
  cursor: pointer;
  height: 100%;
  margin: 10px;
  opacity: 0;
  position: relative;
  pointer-events: auto; }
  .snotifyToast__container {
    overflow: hidden;
    border-radius: 20px;
    background: -webkit-gradient(linear, left top, right top, from(#6442e1), to(#714afe));
    background: linear-gradient(to right, #6442e1, #714afe);
    -webkit-box-shadow: 0 10px 20px 0 rgba(8, 3, 40, 0.45);
    box-shadow: 0 10px 20px 0 rgba(8, 3, 40, 0.45); }
    .snotifyToast__container::before {
      content: '';
      display: block;
      width: 10px;
      height: 20px;
      position: absolute;
      top: 20px;
      z-index: 1;
      -webkit-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
  .snotifyToast--in {
    -webkit-animation-name: appear;
    animation-name: appear; }
  .snotifyToast--out {
    -webkit-animation-name: disappear;
    animation-name: disappear; }
  .snotifyToast__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 20;
    padding: 15px;
    font-size: 16px;
    color: #fff; }
  .snotifyToast__progressBar {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #452c99; }
    .snotifyToast__progressBar__percentage {
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      background-color: #5235b7;
      max-width: 100%; }
  .snotifyToast__body {
    font-size: 16px;
    line-height: 1.25; }
  .snotifyToast__title {
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 700; }
    .snotifyToast__title + .snotifyToast__body {
      font-size: 14px;
      line-height: 1.3; }

.snotifyToast-show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.snotifyToast-remove {
  max-height: 0;
  overflow: hidden;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  opacity: 0; }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

/***************
 ** Modifiers **
 **************/
.snotify-success {
  background: -webkit-gradient(linear, left top, right top, from(#0fbaac), to(#00bf86));
  background: linear-gradient(to right, #0fbaac, #00bf86); }
  .snotify-success .snotifyToast__progressBar {
    background-color: #047e66; }
  .snotify-success .snotifyToast__progressBar__percentage {
    background-color: #058e73; }

.snotify-warning {
  background: -webkit-gradient(linear, left top, right top, from(#e97c00), to(#c46400));
  background: linear-gradient(to right, #e97c00, #c46400); }
  .snotify-warning .snotifyToast__progressBar {
    background-color: #8f4a00; }
  .snotify-warning .snotifyToast__progressBar__percentage {
    background-color: #a35300; }

.snotify-error {
  background: -webkit-gradient(linear, left top, right top, from(#b81252), to(#d61a5e));
  background: linear-gradient(to right, #b81252, #d61a5e); }
  .snotify-error .snotifyToast__progressBar {
    background-color: #880e3d; }
  .snotify-error .snotifyToast__progressBar__percentage {
    background-color: #9b1045; }

.snotify-prompt .snotifyToast__title {
  margin-bottom: 0; }

.snotify-rightTop .snotifyToast__container::before,
.snotify-rightCenter .snotifyToast__container::before,
.snotify-rightBottom .snotifyToast__container::before {
  left: 20px;
  border-right: 20px solid #6442e1;
  border-top-right-radius: 100%; }

.snotify-rightTop .snotifyToast__container.snotify-success::before,
.snotify-rightCenter .snotifyToast__container.snotify-success::before,
.snotify-rightBottom .snotifyToast__container.snotify-success::before {
  border-right-color: #0fbaac; }

.snotify-rightTop .snotifyToast__container.snotify-warning::before,
.snotify-rightCenter .snotifyToast__container.snotify-warning::before,
.snotify-rightBottom .snotifyToast__container.snotify-warning::before {
  border-right-color: #e97c00; }

.snotify-rightTop .snotifyToast__container.snotify-error::before,
.snotify-rightCenter .snotifyToast__container.snotify-error::before,
.snotify-rightBottom .snotifyToast__container.snotify-error::before {
  border-right-color: #b81252; }

.snotify-rightTop .snotifyToast.animated:first-child .snotifyToast__container::before,
.snotify-rightCenter .snotifyToast.animated:first-child .snotifyToast__container::before,
.snotify-rightBottom .snotifyToast.animated:first-child .snotifyToast__container::before {
  left: -10px;
  top: 0; }

.snotify-leftTop .snotifyToast__container::before,
.snotify-leftCenter .snotifyToast__container::before,
.snotify-leftBottom .snotifyToast__container::before {
  right: 20px;
  border-left: 20px solid #714afe;
  border-top-left-radius: 100%; }

.snotify-leftTop .snotifyToast__container.snotify-success::before,
.snotify-leftCenter .snotifyToast__container.snotify-success::before,
.snotify-leftBottom .snotifyToast__container.snotify-success::before {
  border-left-color: #00bf86; }

.snotify-leftTop .snotifyToast__container.snotify-warning::before,
.snotify-leftCenter .snotifyToast__container.snotify-warning::before,
.snotify-leftBottom .snotifyToast__container.snotify-warning::before {
  border-left-color: #c46400; }

.snotify-leftTop .snotifyToast__container.snotify-error::before,
.snotify-leftCenter .snotifyToast__container.snotify-error::before,
.snotify-leftBottom .snotifyToast__container.snotify-error::before {
  border-left-color: #d61a5e; }

.snotify-leftTop .snotifyToast.animated:first-child .snotifyToast__container::before,
.snotify-leftCenter .snotifyToast.animated:first-child .snotifyToast__container::before,
.snotify-leftBottom .snotifyToast.animated:first-child .snotifyToast__container::before {
  right: -10px;
  top: 0; }

.snotifyToast__input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  width: 100%;
  vertical-align: top;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .snotifyToast__input__field {
    position: relative;
    display: block;
    float: right;
    padding: .85em .5em;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #333;
    font-weight: bold;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
    .snotifyToast__input__field:focus {
      outline: none; }
  .snotifyToast__input__label {
    display: inline-block;
    float: right;
    padding: 0 .85em;
    width: 100%;
    color: #e0f2f1;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: left;
    pointer-events: none; }
    .snotifyToast__input__label::before, .snotifyToast__input__label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
    .snotifyToast__input__label::before {
      border-top: 2px solid #fff;
      -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
      transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
      -webkit-transition-delay: .3s;
      transition-delay: .3s; }
    .snotifyToast__input__label::after {
      z-index: -1;
      background: rgba(255, 255, 255, 0.7);
      -webkit-transform: scale3d(1, 0, 1);
      transform: scale3d(1, 0, 1);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0; }
  .snotifyToast__input__labelContent {
    position: relative;
    display: block;
    padding: 1em 0;
    width: 100%;
    -webkit-transition: -webkit-transform .3s .3s;
    transition: -webkit-transform .3s .3s;
    transition: transform .3s .3s;
    transition: transform .3s .3s, -webkit-transform .3s .3s; }

.snotifyToast__input--filled {
  margin-top: 2.5em; }
  .snotifyToast__input--filled:focus,
  .snotifyToast__input--filled .snotifyToast__input__field {
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s; }

.snotifyToast__input__field:focus + .snotifyToast__input__label .snotifyToast__input__labelContent,
.snotifyToast__input--filled .snotifyToast__input__labelContent {
  -webkit-transform: translate(0, -80%);
  transform: translate(0, -80%);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.snotifyToast__input__field:focus + .snotifyToast__input__label::before,
.snotifyToast__input--filled .snotifyToast__input__label::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.snotifyToast__input__field:focus + .snotifyToast__input__label::before,
.snotifyToast__input--filled .snotifyToast__input__label::before {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.snotifyToast__input__field:focus + .snotifyToast__input__label::after,
.snotifyToast__input--filled .snotifyToast__input__label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.snotifyToast--invalid .snotifyToast__input__label::before {
  border-color: #d61a5e; }

.snotifyToast--valid .snotifyToast__input__label::before {
  border-color: #00bf86; }

.snotifyToast__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 0 15px 15px; }
  .snotifyToast__buttons button {
    position: relative;
    width: 100%;
    border: none;
    padding: 7px 14px;
    text-transform: capitalize;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.2); }
    .snotifyToast__buttons button:not(:first-child) {
      margin-left: 10px; }
    .snotifyToast__buttons button::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: rgba(255, 255, 255, 0.3);
      opacity: 0;
      border-radius: 100%;
      -webkit-transform: scale(1, 1) translate(-50%);
      transform: scale(1, 1) translate(-50%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    .snotifyToast__buttons button:focus:not(:active)::after {
      -webkit-animation: ripple 1s ease-out;
      animation: ripple 1s ease-out; }
    .snotifyToast__buttons button:hover, .snotifyToast__buttons button:focus {
      background: rgba(0, 0, 0, 0.3);
      outline: none; }
    .snotifyToast__buttons button:active {
      background: rgba(0, 0, 0, 0.35); }
    .snotifyToast__buttons button:last-child {
      border-right: none; }
    .snotifyToast__buttons button:first-child {
      border-left: none; }
  .snotifyToast__buttons--bold {
    font-weight: 700; }

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    -webkit-transform: scale(25, 25);
    transform: scale(25, 25);
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(40, 40);
    transform: scale(40, 40); } }

@keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    -webkit-transform: scale(25, 25);
    transform: scale(25, 25);
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(40, 40);
    transform: scale(40, 40); } }

.snotify-icon {
  display: none; }
